#main-paginator {
    overflow: auto;
}

#dataTablePost_paginate {
    float: right;
}

#dataTablePost_filter {
    float: right;
}

.table-responsive {
    overflow: hidden;
}

.title {
    margin-top: 1rem;
    margin-left: 1rem;
}
